package lab;

public class Credentials {

  protected String clientId;
  protected String clientSecret;
  protected String tokenServerUrl;
  protected String livestreamEndpointUrl;

  // these need to be populated prior to the class
  public Credentials() {
    this.clientId = "";
    this.clientSecret = "";
    this.tokenServerUrl = "https://api.omniture.com/token";
    this.livestreamEndpointUrl = "https://sjo.livestream.adobe.net/api/1/stream/dt-lab-<student-number>";
  }

  public String getClientId() { return this.clientId; }
  public String getClientSecret() { return this.clientSecret; }
  public String getTokenServerUrl() { return this.tokenServerUrl; }
  public String getLivestreamEndpointUrl() { return this.livestreamEndpointUrl; }
}
