module Lab
  class Credentials

    attr_reader :client_id
    attr_reader :client_secret
    attr_reader :token_server_url
    attr_reader :livestream_endpoint_url

    # these need to be populated prior to the class
    def initialize
      @client_id = ""
      @client_secret = ""
      @token_server_url = "https://api.omniture.com/token"
      @livestream_endpoint_url = "https://sjo.livestream.adobe.net/api/1/stream/dt-lab-<student-number>"
    end

  end
end
